server:
  port: 8084

spring:
  application:
    name: notification-service

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5435}/notification_db
    username: ${DB_USER:fraud_user}
    password: ${DB_PASS:fraud_pass}
    driver-class-name: org.postgresql.Driver
    hikari:
      pool-name: NotificationHikariPool
      maximum-pool-size: 5
      minimum-idle: 1

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      group-id: notification-group
      auto-offset-reset: earliest

kafka:
  topics:
    fraud-decision-made: fraud.decision.made

management:
  endpoints:
    web:
      exposure:
        include: health,info
